.loadingBar {
  position: absolute;
  top: 0;
  left: -400%;
  width: 400%;
  height: 5px;
  display: flex;
  animation: loading 3s ease-in-out infinite;
}

@keyframes loading {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateX(125%);
  }
}

.block {
  flex: 1;
}
.block:nth-child(1) {
  background: #f9ff21;
}
.block:nth-child(2) {
  background: #2f89fc;
}
.block:nth-child(3) {
  background: #22eaaa;
}
.block:nth-child(4) {
  background: #f85959;
}
